body,html{
    padding:0;
    margin:0;
    display: flex;
    justify-content:center;
    align-items:center;
}

.canvas-container{
    width:fit-content;
}
.music-btn-container{
    display:flex;
    justify-content:center;
    margin-top: 100px;

}

.music-btn-container button{
    border:1px solid #b7d2dc;
    background-color:transparent;
    width:70px;
    height:50px;
    border-radius: 30px;
}
canvas{
    display: flex;
}